<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @counter_service_type.name %>
</p>

<%= link_to 'Edit', edit_counter_service_type_path(@counter_service_type) %> |
<%= link_to 'Back', counter_service_types_path %>
