<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carrier_client.name %>
</p>

<%= link_to 'Edit', edit_carrier_client_path(@carrier_client) %> |
<%= link_to 'Back', carrier_clients_path %>
